@import "tailwindcss";

/* biome-ignore lint: DaisyUI stuff */
@plugin "daisyui" {
    /* biome-ignore lint: DaisyUI stuff */
    themes: dim;
}

@plugin "daisyui/theme" {
    /* biome-ignore lint: DaisyUI stuff */
    name: "dim";
    /* biome-ignore lint: DaisyUI stuff */
    default: true;
    /* biome-ignore lint: DaisyUI stuff */
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(30.857% 0.023 264.149);
    --color-base-200: oklch(28.036% 0.019 264.182);
    --color-base-300: oklch(26.346% 0.018 262.177);
    --color-base-content: oklch(82.901% 0.031 222.959);
    --color-primary: oklch(71% 0.203 305.504);
    --color-primary-content: oklch(17.226% 0.028 139.549);
    --color-secondary: oklch(75% 0.183 55.934);
    --color-secondary-content: oklch(14.675% 0.033 35.353);
    --color-accent: oklch(67% 0.182 276.935);
    --color-accent-content: oklch(0% 0 0);
    --color-neutral: oklch(44% 0.043 257.281);
    --color-neutral-content: oklch(82.901% 0.031 222.959);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(17.215% 0.028 206.182);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(17.234% 0.028 166.534);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(17.232% 0.028 94.818);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 2rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 0;
    --noise: 0;
}

html {
    overflow-y: scroll;
}

table tbody tr {
    border-top: 1px solid var(--color-base-300);
    border-bottom: none !important;
}
